/*在此完成CSS样式设置*/
*{
    padding:0;
    margin:0;
    border:0;
    font-family:arial;
    color:white;
}
a{
    text-decoration:none;
}
header{
    height: 80px;
    background: #000;
}
header .container{
    width: 1200px; 
    height: 80px;
    margin: 0 auto;
}
header >.container > a{
    display: block;
    float: left; 
    margin: 17px 25px;
}
header .container a span {
    font-size: 30px;
}
header .container nav{
    float: right;
}
header .container nav a{
    display: block;
    float: left;
    width: 110px;
    height: 73px;
    font-size: 20px;
    line-height: 73px;
    text-align: center;
}
header .container nav a.Home{background: #D30112;}
header .container nav a.Course{background: #FDB700;}
header .container nav a.Actual{background: #78B817;}
header .container nav a.Plan{background: #423A8D;}
header .container nav a.FAQ{background: #F17C01;}
header .container nav a.Notes{background: #017DC7;}
header .container nav a.active,
header .container nav a:hover{
    padding-bottom: 7px;
}